# Spark, ¿para qué?
---

### por Libertad Pantoja

<img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="drawing" width="300">

# LiberPH

## https://github.com/LiberPH/Spark_para_que

## Objetivos

1. Comunicar una posible estrategia a seguir cuando tenemos demasiados datos.
2. Dar a conocer qué es Spark.
3. Mostrar algunos usos sencillos de Spark junto con algunas recomendaciones de cómo usarlo.
4. Errores o detalles comunes.

Nos vamos a enfocar en los aspectos prácticos :)

## Datos, datos, datos
___
Imaginemos que queremos hacer el análisis de ciertos datos. Ya hemos trabajado antes con ciertos volúmenes de datos (digamos tablas de unos 100-10,000 datos) haciendo análisis exploratorios en Python.

<img src="https://www.andrewheiss.com/blog/2019/01/29/diff-means-half-dozen-ways/eda-plots-1.png" alt="drawing" width="600"/>

## Datos, datos, datos
___
Supongamos que incluso estamos familiarizados con algunas paqueterías de Python para hacer ciencia de datos como Scikit learn, llegamos a un punto en que nos parecen intuitivas o cómodas.


<img src="https://www.analyticsvidhya.com/wp-content/uploads/2015/01/scikit-learn-logo.png" alt="drawing" width="500"/>

### Pero...
---

De pronto entramos a un proyecto donde se requiere analizar más de 5Gb de datos. 


<img src="https://predictiontechnology.ucla.edu/wp-content/uploads/2016/05/BD.jpg" alt="drawing" width="400"/>

¿Puedo hacerlo?

## ¿Qué tanto es tantito?
---
¿Puedo hacerlo?

Sí, en tanto nuestra computadora lo permita. La posibilidad de analizar un set de datos va a depender de nuestra capacidad de cómputo.


<img src="https://static.thenounproject.com/png/2775987-200.png" alt="drawing" width="200"/>

![Scikit book](https://images-na.ssl-images-amazon.com/images/I/71P4atQpTbL.jpg)

## ¿Qué hago si mi computadora no puede ejecutar los comandos que conozco con estos datos?
---
<img src="https://i1.sndcdn.com/artworks-000223795050-2qhpbr-t500x500.jpg" alt="drawing" width="400"/>

Puedo conseguir una computadora con más capacidad de cómputo... 

...o ....

## Divide y vencerás
___

<img src="https://qph.fs.quoracdn.net/main-qimg-b94eb7113c92d6101462bb5dc9bd79dd" alt="drawing" width="400"/>

## Características del Big Data
---

<img src="https://www.edureka.co/blog/wp-content/uploads/2018/06/Five-Vs-of-Big-Data-What-is-Big-Data-Edureka.png" alt="drawing" width="800"/>

# ¿De qué trata esta plática?

1. ¿Cómo se dividen las tareas?
2. ¿Qué es Spark?
3. ¿Cómo se usa Spark?
4. Errores o detalles comunes

Nos vamos a enfocar en los aspectos prácticos :)

# 1. ¿Cómo se dividen las tareas?
---

<img src="https://miro.medium.com/max/3136/1*eLdh98v51Yi3AyNI1idfpA.png" alt="drawing" width="600"/>

# 1. ¿Cómo se dividen las tareas?
---
* Las tareas se dividen (distribuyen) entre las computadoras que forman parte del clúster por medio del clúster manager (dependiendo de los comandos utilizados).
* Algunas de estas tareas se estarán ejecutando al mismo tiempo (paralelas) lo que reduce el tiempo total del proceso cuando trabajamos con grandes cantidades de datos.


![Spark](https://raw.githubusercontent.com/LiberPH/Spark_para_que/main/Software_org_spark_2.png)

# 2. ¿Qué es Spark?
"Unified analytics engine for large-scale data processing"
<img src="https://miro.medium.com/max/1400/0*6rCBTaD7N99u8qRT" alt="drawing" width="600"/>

# 2. ¿Qué es Spark?
Apache Spark is an **open-source**, **distributed** processing system used for **big data** workloads. It utilizes in-memory caching and optimized query execution for fast queries against data of any size. Simply put, Spark is a fast and general engine for large-scale data processing.

Es una herramienta que se puede ejecutar sobre Python, R, Scala o Java y permite trabajar con Big Data.

https://chartio.com/learn/data-analytics/what-is-spark/

## Entonces...
### Spark es:
* Distribuido
* Open Source
* Se usa para big data

### Pero, además es:
* Resiliente
* Lazy
* Sencillo de usar

# 2. ¿Qué es Spark?
---
<img src='https://d2h0cx97tjks2p.cloudfront.net/blogs/wp-content/uploads/sites/2/2017/05/features-of-spark.jpg' alt="drawing" width="600"/>

https://data-flair.training/blogs/apache-spark-features/

# 2. ¿Qué es Spark?
---
El **driver** (master) controla todo lo que hacen las demás computadoras (**workers**). Pero los workers (slaves) hacen todo el trabajo.

* Los **RDDs** (la estructura de datos principal de Spark) están particionados a través de los workers.
* Los **workers** administran estas particiones y sus recursos. Se comunica con el clúster manager para decirle qué tanto espacio queda y para qué tareas.
* Los **ejecutores** ejecutan tareas en su partición.Estas tareas llegan de tu programa a través del spark context.
* **Caché** es la memoria que está siendo usada para guardar RDD's (memoria local en el nodo esclavo).


![Softspark](https://raw.githubusercontent.com/LiberPH/Spark_para_que/main/software_spark.png) 
https://www.edx.org/course/big-data-analytics-using-spark

## MapReduce
---

Spark se basa en una aproximación divide y vencerás llamada MapReduce. MapReduce incluye otras cosas además de la idea de dividir un problema en tareas simples y después conjuntar un problema. Por ejemplo:

* Guardado de estados intermedios
* Identificación de nodos muertos
* Etiquetado de resultados para indicar qué resultados van con cuáles.

<img src="https://i.stack.imgur.com/199Q1.png" alt="drawing" width="700"/>

# 3. ¿Cómo se usa Spark?
---

Lo primero que necesitamos para poder usar Spark es definir su contexto (Spark Context).


![sc](https://raw.githubusercontent.com/LiberPH/Spark_para_que/main/spark_context.png)

## Inicializando el Spark Context

In [1]:
import pyspark
sc = pyspark.SparkContext('local[*]')
sc

## Vamos a leer datos
---

Pueden ser:

* json

* csv

* parquet

## Antes de continuar...
* Nos vamos a enfocar en Spark DataFrames (también existen RDDs y Data sets) 


### Recomendación: Empieza a usar PySpark (o Python) con Jupyter Notebooks
<img src='https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Jupyter_logo.svg/1200px-Jupyter_logo.svg.png' alt="drawing" width="300"/>

Una forma sencilla es bajando un contenedor docker que ya trae Spark y Python. 

Contenedor recomendado: https://hub.docker.com/r/jupyter/all-spark-notebook

#### Para usarlo: 
1. Hay que bajar Docker. https://www.docker.com/products
2. Hay que descargar el contenedor: docker pull jupyter/all-spark-notebook <=En terminal
3. Hay que ejecutar el contenedor: docker run -it --rm -p 8888:8888 jupyter/all-spark-notebook <=En terminal
4. Es necesario usar el url desplegado en la terminal (pégalo en tu navegador)

<img src='https://webstockreview.net/images/surprise-clipart-woe-4.png' alt="drawing" width="300"/>


<img src='https://i.stack.imgur.com/3rF6p.png' alt="drawing" width="800"/>

### Usar DataFrames proporciona varias ventajas:
---

* Sintaxis más simple que la de los RDDs
* Posibilidad de usar comandos tipo SQL directamente sobre el DataFrame
* Operaciones están automáticamente distribuidas
La principal ventaja de usar los DataFrames de Spark sobre Pandas o cualquier otra cosa es que Spark puede manipular  cantidades masivas de datos que no caben en una sola computadora. El costo por esto es una sintaxis un poquito rara, pero nada terrible.

## Operaciones en Spark

* **Transformaciones:** Son operaciones que dan como resultado un nuevo RDD. Son *lazy* ya que no se ejecutan sino hasta que tiene lugar una acción.
* **Acciones:** Son operaciones que dan como resultado una variable local (número, string, etc). Al ejecutarlas desencadenan la serie de transformaciones previa a poder calcularla.

<img src='https://miro.medium.com/max/726/1*BaQ7kuuENGOWbV7JII0gEA.png' alt="drawing" width="400"/>

## Ahora sí, ¡a leer!

In [2]:
from pyspark.sql import SparkSession

# https://www.kaggle.com/johnsmith88/heart-disease-dataset
# Puede que tome un tiempo en una computadora local
spark = SparkSession.builder.appName("Basics").getOrCreate()

df = spark.read.csv('heart.csv', inferSchema=True, header=True)

In [3]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- sex: integer (nullable = true)
 |-- cp: integer (nullable = true)
 |-- trestbps: integer (nullable = true)
 |-- chol: integer (nullable = true)
 |-- fbs: integer (nullable = true)
 |-- restecg: integer (nullable = true)
 |-- thalach: integer (nullable = true)
 |-- exang: integer (nullable = true)
 |-- oldpeak: double (nullable = true)
 |-- slope: integer (nullable = true)
 |-- ca: integer (nullable = true)
 |-- thal: integer (nullable = true)
 |-- target: integer (nullable = true)

## Heart


1. age
2. sex
3. chest pain type (4 values)
4. resting blood pressure
5. serum cholestoral in mg/dl
6. fasting blood sugar > 120 mg/dl
7. resting electrocardiographic results (values 0,1,2)
8. maximum heart rate achieved
9. exercise induced angina
10. oldpeak = ST depression induced by exercise relative to rest
11. the slope of the peak exercise ST segment
12. number of major vessels (0-3) colored by flourosopy
13. thal: 0 = normal; 1 = fixed defect; 2 = reversable defect

In [4]:
df.show()

+---+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+
|age|sex| cp|trestbps|chol|fbs|restecg|thalach|exang|oldpeak|slope| ca|thal|target|
+---+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+
| 52|  1|  0|     125| 212|  0|      1|    168|    0|    1.0|    2|  2|   3|     0|
| 53|  1|  0|     140| 203|  1|      0|    155|    1|    3.1|    0|  0|   3|     0|
| 70|  1|  0|     145| 174|  0|      1|    125|    1|    2.6|    0|  0|   3|     0|
| 61|  1|  0|     148| 203|  0|      1|    161|    0|    0.0|    2|  1|   3|     0|
| 62|  0|  0|     138| 294|  1|      1|    106|    0|    1.9|    1|  3|   2|     0|
| 58|  0|  0|     100| 248|  0|      0|    122|    0|    1.0|    1|  0|   2|     1|
| 58|  1|  0|     114| 318|  0|      2|    140|    0|    4.4|    0|  3|   1|     0|
| 55|  1|  0|     160| 289|  0|      0|    145|    1|    0.8|    1|  1|   3|     0|
| 46|  1|  0|     120| 249|  0|      0|    144|    0|    0.8|    2|  0|   3|     0|
| 54|  1|  0|     122| 286|  0|      0|    116|    1|    3.2|    1|  2|   2|     0|
| 71|  0|  0|     112| 149|  0|      1|    125|    0|    1.6|    1|  0|   2|     1|
| 43|  0|  0|     132| 341|  1|      0|    136|    1|    3.0|    1|  0|   3|     0|
| 34|  0|  1|     118| 210|  0|      1|    192|    0|    0.7|    2|  0|   2|     1|
| 51|  1|  0|     140| 298|  0|      1|    122|    1|    4.2|    1|  3|   3|     0|
| 52|  1|  0|     128| 204|  1|      1|    156|    1|    1.0|    1|  0|   0|     0|
| 34|  0|  1|     118| 210|  0|      1|    192|    0|    0.7|    2|  0|   2|     1|
| 51|  0|  2|     140| 308|  0|      0|    142|    0|    1.5|    2|  1|   2|     1|
| 54|  1|  0|     124| 266|  0|      0|    109|    1|    2.2|    1|  1|   3|     0|
| 50|  0|  1|     120| 244|  0|      1|    162|    0|    1.1|    2|  0|   2|     1|
| 58|  1|  2|     140| 211|  1|      0|    165|    0|    0.0|    2|  0|   2|     1|
+---+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+
only showing top 20 rows

In [5]:
#! Úsalo con cuidado
df.limit(3).toPandas()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0

In [6]:
df.corr("age", "sex")

-0.10324029759435555

In [7]:
from pyspark.sql.functions import col as c
import pyspark.sql.functions as F

df.select(
 F.avg(c("age")).alias("mean_age"), F.avg(c("chol")).alias("mean_chol")
).show()

+-----------------+---------+
|         mean_age|mean_chol|
+-----------------+---------+
|54.43414634146342|    246.0|
+-----------------+---------+

In [8]:
dfAgeChol = df.select(
 c("age"), c("chol")
)

In [9]:
df.select(
    F.max("age"),
    F.max("chol")
).show()

+--------+---------+
|max(age)|max(chol)|
+--------+---------+
|      77|      564|
+--------+---------+

In [10]:
df.select(
    F.min("age"),
    F.min("chol")
).show()

+--------+---------+
|min(age)|min(chol)|
+--------+---------+
|      29|      126|
+--------+---------+

In [11]:
df.describe().toPandas()

,summary,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,count,1025,1025,1025,1025,1025,1025,1025,1025,1025,1025,1025,1025,1025,1025
1,mean,54.43414634146342,0.6956097560975609,0.9424390243902439,131.61170731707318,246.0,0.14926829268292682,0.5297560975609756,149.11414634146342,0.33658536585365856,1.0715121951219524,1.3853658536585365,0.7541463414634146,2.32390243902439,0.5131707317073171
2,stddev,9.072290233244278,0.4603733241196495,1.029640743645865,17.516718005376408,51.59251020618203,0.35652668972715756,0.5278775668748918,23.00572374597721,0.4727723760037115,1.1750532551501767,0.6177552671745918,1.0307976650242825,0.6206602380510303,0.5000704980788011
3,min,29,0,0,94,126,0,0,71,0,0.0,0,0,0,0
4,max,77,1,3,200,564,1,2,202,1,6.2,2,4,3,1

### ¿Qué más podemos hacer?

* Casi cualquier operación tipo SQL (join, count, select, etc...)
* ML

## ¡Vamos a construir un random forest para resolver un problema de clasificación!

**Nota:** Para este caso vamos a obviar varios pasos que son esenciales: limpieza de datos, análisis exploratorios, análisis de relevancia de variables, etc. El único fin es mostrar que se puede efectuar los pasos para aplicar un Random Forest a un set de datos.

<img src='https://www.researchgate.net/profile/Maninder_Kaur47/publication/333152684/figure/fig3/AS:767795625218049@1560068150841/Random-forest-simplified-representation.jpg' alt="drawing" width="500"/>



*Random forest* = Ensamble de árboles de decisión

![Tree](https://media.geeksforgeeks.org/wp-content/cdn-uploads/Decision_Tree-2.png)

## a. Antes que nada, en Spark tenemos que ensamblar nuestros datos.

In [12]:
from pyspark.ml.feature import VectorAssembler

features = df.columns
features.remove("target")

assembler = VectorAssembler(inputCols = features,outputCol='features')

assembled = assembler.transform(df)

#Sólo VA y target
data_VA = assembled.select('features','target')

data_VA.limit(3).toPandas()

                                            features  target
0  [52.0, 1.0, 0.0, 125.0, 212.0, 0.0, 1.0, 168.0...       0
1  [53.0, 1.0, 0.0, 140.0, 203.0, 1.0, 0.0, 155.0...       0
2  [70.0, 1.0, 0.0, 145.0, 174.0, 0.0, 1.0, 125.0...       0

## b. Si hay datos categóricos convertirlos en numéricos

## c. Partir los datos en un conjunto de prueba y uno de entrenamiento

In [13]:
(trainingData, testData) = data_VA.randomSplit([0.7, 0.3])

## d. Agregar los imports necesarios para Random Forest

https://github.com/LiberPH/taller_spark/blob/master/random_forest/RandomForest.ipynb
    
https://github.com/datadogmx/taller_spark

In [14]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.feature import IndexToString, StringIndexer, VectorIndexer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

## e. Entrenar el modelo

In [15]:
rf = RandomForestClassifier(labelCol="target", featuresCol="features", numTrees=10)

# Train model.
model = rf.fit(trainingData)

## f. Probar el modelo

In [16]:
# Make predictions.
predictions = model.transform(testData)

# Select example rows to display.
predictions.select("prediction", "probability", "features").show(5)

+----------+--------------------+--------------------+
|prediction|         probability|            features|
+----------+--------------------+--------------------+
|       1.0|[0.12315371192873...|(13,[0,1,3,4,7,10...|
|       1.0|[0.12315371192873...|(13,[0,1,3,4,7,10...|
|       1.0|[0.22325738961306...|(13,[0,1,3,4,7,10...|
|       1.0|[0.22325738961306...|(13,[0,1,3,4,7,10...|
|       1.0|[0.12841686982347...|(13,[0,3,4,6,7,10...|
+----------+--------------------+--------------------+
only showing top 5 rows

## g. Ver algunas métricas

In [17]:
# Compute test error
evaluator = MulticlassClassificationEvaluator(
    labelCol="target", predictionCol="prediction", metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Test Error = %g" % (1.0 - accuracy))

Test Error = 0.0811688

In [18]:
predictions.limit(10).toPandas()

,features,target,rawPrediction,probability,prediction
0,"(45.0, 1.0, 0.0, 115.0, 260.0, 0.0, 0.0, 185.0...",1,"[1.2315371192873732, 8.768462880712628]","[0.12315371192873732, 0.8768462880712627]",1.0
1,"(48.0, 1.0, 0.0, 122.0, 222.0, 0.0, 0.0, 186.0...",1,"[1.2315371192873732, 8.768462880712628]","[0.12315371192873732, 0.8768462880712627]",1.0
2,"(59.0, 1.0, 0.0, 138.0, 271.0, 0.0, 0.0, 182.0...",1,"[2.2325738961306016, 7.7674261038694]","[0.22325738961306013, 0.7767426103869398]",1.0
3,"(59.0, 1.0, 0.0, 138.0, 271.0, 0.0, 0.0, 182.0...",1,"[2.2325738961306016, 7.7674261038694]","[0.22325738961306013, 0.7767426103869398]",1.0
4,"(49.0, 0.0, 0.0, 130.0, 269.0, 0.0, 1.0, 163.0...",1,"[1.2841686982347416, 8.71583130176526]","[0.12841686982347414, 0.8715831301765258]",1.0
5,"(46.0, 0.0, 0.0, 138.0, 243.0, 0.0, 0.0, 152.0...",1,"[4.664545820122207, 5.335454179877794]","[0.4664545820122207, 0.5335454179877794]",1.0
6,"(46.0, 0.0, 0.0, 138.0, 243.0, 0.0, 0.0, 152.0...",1,"[4.664545820122207, 5.335454179877794]","[0.4664545820122207, 0.5335454179877794]",1.0
7,"(42.0, 0.0, 0.0, 102.0, 265.0, 0.0, 0.0, 122.0...",1,"[2.1274422979441336, 7.872557702055866]","[0.21274422979441338, 0.7872557702055867]",1.0
8,"(53.0, 0.0, 0.0, 130.0, 264.0, 0.0, 0.0, 143.0...",1,"[2.904029552288442, 7.095970447711559]","[0.2904029552288442, 0.7095970447711559]",1.0
9,"(53.0, 0.0, 0.0, 130.0, 264.0, 0.0, 0.0, 143.0...",1,"[2.904029552288442, 7.095970447711559]","[0.2904029552288442, 0.7095970447711559]",1.0

Alguien que haya usado Scikit Learn probablemente dirá que Spark es complicadísimo. ¿Por qué querría yo usarlo existiendo algo tan hermoso como Scikit Learn?

<img src="https://i.ytimg.com/vi/-YmyKgTo9QY/hqdefault.jpg" alt="drawing" width="400"/>

# 4. Errores o detalles comunes 

Supongamos que tengo un caso en el que vale la pena usar Spark y esta disponible un clúster con ya todo instalado para usarlo.

<img src='https://miro.medium.com/max/10368/0*46YPu9w09V1r_3th' alt="drawing" width="500"/>

¿Qué debería tener en cuenta?
https://sparkbyexamples.com/spark/spark-performance-tuning/
https://databricks.com/blog/2016/07/14/a-tale-of-three-apache-spark-apis-rdds-dataframes-and-datasets.html

# Shuffling

<img src="https://i.stack.imgur.com/199Q1.png" alt="drawing" width="700"/>

<img src="https://i.stack.imgur.com/4jbD6.png" alt="drawing" width="700"/>

<img src="https://miro.medium.com/max/844/0*kAw8hogu1oZPy9QU.png" alt="drawing" width="700"/>

https://medium.com/@dvcanton/wide-and-narrow-dependencies-in-apache-spark-21acf2faf031

## Joins no balanceados

Una forma de evitar hacer shuffling cuando los joins no están balanceados y un data frame es muy pequeño es hacer un broadcast join.

<img src="https://www.oreilly.com/library/view/high-performance-spark/9781491943199/assets/hpsp_0405.png" alt="drawing" width="700"/>

In [19]:
import pandas as pd

patients = {"Name": ["Olivia T","Gabriela D","Andrea M","Luis P"],
        "age": [52,70,54,34],
        "sex": [1,1,1,0],
        "chol": [212,174,286,210],
        }

patientsPd = pd.DataFrame(patients, columns = ['Name', 'age', 'sex', 'chol'])
patientsPd

         Name  age  sex  chol
0    Olivia T   52    1   212
1  Gabriela D   70    1   174
2    Andrea M   54    1   286
3      Luis P   34    0   210

In [20]:
#Funciona en Spark 3.0
patientsSpark = spark.createDataFrame(patientsPd)

In [21]:
joined = patientsSpark.join(F.broadcast(df), ((patientsSpark.age == df.age) & (patientsSpark.sex == df.sex) &
        ( patientsSpark.chol == df.chol)), 'left')

In [22]:
joined.limit(10).toPandas()

,Name,age,sex,chol,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,Olivia T,52,1,212,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,Olivia T,52,1,212,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
2,Olivia T,52,1,212,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
3,Olivia T,52,1,212,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
4,Gabriela D,70,1,174,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
5,Gabriela D,70,1,174,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
6,Gabriela D,70,1,174,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
7,Gabriela D,70,1,174,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
8,Andrea M,54,1,286,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0
9,Andrea M,54,1,286,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0

In [23]:
df.select("*").groupBy("age","sex","chol").count().orderBy("count","age", ascending=False).show()

+---+---+----+-----+
|age|sex|chol|count|
+---+---+----+-----+
| 38|  1| 175|    8|
| 54|  1| 239|    7|
| 43|  1| 247|    6|
| 71|  0| 149|    4|
| 71|  0| 265|    4|
| 70|  1| 322|    4|
| 70|  1| 174|    4|
| 67|  1| 286|    4|
| 67|  1| 212|    4|
| 67|  1| 229|    4|
| 67|  1| 237|    4|
| 66|  0| 278|    4|
| 66|  1| 212|    4|
| 66|  1| 228|    4|
| 66|  0| 228|    4|
| 65|  1| 282|    4|
| 65|  1| 254|    4|
| 65|  0| 225|    4|
| 64|  1| 246|    4|
| 64|  1| 335|    4|
+---+---+----+-----+
only showing top 20 rows

![RDD vs dataframes](https://databricks.com/wp-content/uploads/2016/07/memory-usage-when-caching-datasets-vs-rdds.png)

## Cuidado con cómo se particionan los sets de datos

* Esto aplica para la escritura en disco de los data sets
* Un exceso de particiones puede hacer la lectura muy lenta

## Recursos

* [Rock the JVM Spark courses (Scala)](https://rockthejvm.com/)
* [About Spark in mapr](https://mapr.com/blog/spark-101-what-it-what-it-does-and-why-it-matters/)
* [edX course Big Data analytics Using Spark](https://courses.edx.org/courses/course-v1:UCSanDiegoX+DSE230x+1T2018/courseware/2966295eefb4492b836de9ee34f05911/56608329f8fc42fc8fcaa5e49673ee3b/5?activate_block_id=block-v1%3AUCSanDiegoX%2BDSE230x%2B1T2018%2Btype%40vertical%2Bblock%4042ff48e505e24071b920a496b48a32bc)
* [Spark-py notebooks by Jose A. Dianes](https://github.com/jadianes/spark-py-notebooks)
* [Presenting code using Jupyter Notebook Slides](https://medium.com/@mjspeck/presenting-code-using-jupyter-notebook-slides-a8a3c3b59d67)
* http://dme.rwth-aachen.de/en/research/projects/mapreduce
* https://softwareengineering.stackexchange.com/questions/98800/is-mapreduce-anything-more-than-just-an-application-of-divide-and-conquer
* http://data-flair.training/forums/topic/sparksession-vs-sparkcontext-in-apache-spark